:root {
  --background: #28a269;
  --transparent: rgba(0, 0, 0, 0.5);
  --text: #000000;
  --card-content: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

div,
img {
  user-select: none;
  -webkit-user-drag: none;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text);
  background-color: var(--background);
}

#root {
  height: 100%;
}

.app {
  height: 100%;
}

.title {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-section {
  height: 90%;
  display: flex;
  flex-direction: row;
  margin-left: 10rem;
}

.stats,
.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.stats {
  width: 26rem;
  justify-content: start;
  padding-top: 8rem;
}

.stats-content {
  width: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stats-content .texts {
  width: 16rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  font-weight: bold;
}

.stats-content .texts h1 {
  margin-bottom: 1rem;
}

.stats-content img {
  width: 100%;
  height: 100%;
}

.board {
  gap: 2rem;
}

.row {
  display: flex;
  gap: 2rem;
  position: relative;
  align-items: center;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
}

.card:hover {
  scale: 1.1;
}

.card,
.info-card,
.invisible-card {
  width: 120px;
  height: 100px;
  position: relative;
}

.card img,
.info-card img,
.invisible-card img {
  width: 100%;
  height: 100%;
}

.card-content,
.info-card p {
  position: absolute;
}

.card-content {
  color: var(--card-content);
  font-size: 3rem;
  font-weight: bold;
  padding-bottom: 0.5rem;
  text-align: center;
}

.voltorb {
  scale: 0.6;
}

.info-card p {
  font-weight: bold;
  font-size: 1.6rem;
  right: 0.8rem;
}

.info-card .points {
  top: 0.1rem;
}

.info-card .voltorbs {
  top: 3rem;
}

.row .background {
  position: absolute;
  width: 100%;
  height: 30%;
  z-index: -1;
}

.bottom-info-cards {
  display: flex;
  gap: 2rem;
  position: relative;
}

.bottom-info-cards .background {
  position: absolute;
  width: 1.875rem;
  height: 47rem;
  top: -41rem;
  margin-left: 2.813rem;
  z-index: -2;
}

.invisible-card {
  visibility: hidden;
}

.version__watermark {
  position: fixed;
  top: 0;
  right: 1rem;
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
  color: var(--transparent);
}
