:root {
  --text: #000000;
  --card__content: #ffffff;
  --background: #28a269;
  --background-border: #188261;
  --transparent: rgba(0, 0, 0, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

div,
img {
  user-select: none;
  -webkit-user-drag: none;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
}

#root {
  height: 100%;
}

.app {
  height: 100%;
}

.title__container {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: var(--text);
  text-align: center;
}

.board__container {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board__row,
.bottom__side__cards {
  margin: 20px;
  position: relative;
  display: flex;
  align-items: center;
}

.row__background {
  position: absolute;
  top: 32%;
  left: 10%;
  width: 80%;
  height: 45%;
  z-index: -1;
}

.column__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column__background {
  position: absolute;
  bottom: 50px;
  width: 30%;
  height: 500px;
  z-index: -1;
}

.card,
.side__card {
  margin: 0 10px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__img {
  width: 100%;
  height: 100%;
}

.card__content {
  position: absolute;
  font-size: 2.4rem;
  font-weight: bold;
  color: var(--card__content);
  pointer-events: none;
  padding-bottom: 5px;
  text-align: center;
}

.side__card p {
  position: absolute;
  font-weight: bold;
  font-size: 1.6rem;
  color: var(--text);
}

.side__card__points {
  top: -2px;
  right: 25px;
}

.side__card__voltorbs {
  bottom: 15px;
  right: 25px;
}

.version__watermark {
  position: fixed;
  top: 0;
  right: 15px;
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
  color: var(--transparent);
}
